<template>
    <!-- <button class="small r"
            title="Show next solution"
            if.bind="settings.solutionsShown"
            disabled.bind="(currentSolution == solutions[board.boardType].length - 1)"
            click.delegate="showNextSolution(board.boardType)"
            touchstart.delegate="showNextSolution(board.boardType)">
            <icon class="fa fa-step-forward fa-lg"></icon>
        </button>
    <button class="small l"
            title="Show previous solution"
            if.bind="settings.solutionsShown"
            disabled.bind="(currentSolution == 0)"
            click.delegate="showPreviousSolution(board.boardType)"
            touchstart.delegate="showPreviousSolution(board.boardType)">
            <icon class="fa fa-step-backward fa-lg"></icon>
        </button>
    <button class="rounded"
            if.bind="!settings.solutionsShown"
            ng-class="{'solved' : (board.solved && !board.newSolution)}"
            click.delegate="showSolution()"
            touchstart.delegate="showSolution()">Show solution
            {{currentSolution + 1}} / {{solutions[board.boardType].length}}
        </button>
    <span class="rounded"
          if.bind="settings.solutionsShown"
          ng-class="{'solved' : (board.solved && !board.newSolution)}">
            Solution {{currentSolution + 1}} / {{solutions[board.boardType].length}}
        </span> -->

</template>