.controls {
    width          : 320px;
    height         : 40px;
    display        : flex;
    justify-content: center;
    align-items    : center;
}

.controls .indicator, .controls button {
    height          : 30px;
    line-height     : 30px;
    font-family     : inherit;
    background-color: transparent;
    border          : none;
    outline         : none;
    color           : white;
    font-size       : 14px;
    padding         : 0 10px;
    transition      : all .3s ease;
    cursor          : pointer;
}

.controls .indicator {
    margin-left: 5px;
}

.controls indicator.solved {
    border: 1px dotted lime;
}

.controls button.small {
    width      : 40px;
    height     : 30px;
    line-height: 30px;
}

.controls button icon {
    line-height: 30px;
}

.controls button:disabled {
    cursor : not-allowed;
    opacity: .2;
}

[class*='fa-step-'] {
    vertical-align: 0;
}
