header {
    position: relative;
    height  : 40px;
}

h1 {
    font-family   : inherit;
    font-size     : 21px;
    letter-spacing: 1px;
    text-align    : center;
    line-height   : 0;
    margin        : 20px 0 -20px;
}
