.hamburger {
    position: absolute;
    left    : 2px;
    top     : 2px;
    z-index : 9999999999;
}

.hamburger .fa-bars {
    height     : 40px;
    line-height: 40px;
    padding    : 0 10px;
    margin-top : -1px;
    cursor     : pointer;
}

menu ul#menu {
    position: absolute;
    left    : -5px;
    top     : 0;
}

menu ul {
    background-color: rgba(34, 34, 34, .7);
    border          : 1px solid rgba(34, 34, 34, .7);
}

menu ul li {
    position        : relative;
    font-size       : 14px;
    color           : #333;
    background-color: ghostwhite;
    line-height     : 20px;
    padding         : 10px 20px 10px 15px;
    margin          : 1px;
    cursor          : pointer;
}

menu ul li li {
    text-align: center;
}

menu ul li:hover {
    background-color: gainsboro;
}

menu ul li.active {
    background-color: silver;
}

.hamburger > .fa-bars.disabled, menu ul li.disabled {
    pointer-events: none;
    cursor        : not-allowed;
    color         : rgba(255,255,255,.2);
}

menu ul li.disabled {
    color: rgba(51,51,51,.2);
}

menu ul.subMenu {
    position: absolute;
    left    : 99%;
    top     : -2px;
    z-index : 1;
}
