<template class="hamburger">
    <require from="components/menu.css"></require>
    <i class="fa fa-bars"
       click.delegate="showTheMenu()"
       touchstart.delegate="showTheMenu()"></i>

    <ul id="menu"
        if.bind="settings.menuVisible">

        <li click.delegate="hideTheMenu()"
            touchstart.delegate="hideTheMenu()">
            <i class="fa fa-times"></i></li>

        <li if.bind="sls.solutions['square'].length > 1"
            mouseenter.trigger="toggleSubmenuBoards()"
            mouseleave.trigger="toggleSubmenuBoards()"
            touchend.delegate="toggleSubmenuBoards()">
            Board sizes&nbsp;&nbsp;<i class="fa fa-angle-right"></i>
            <ul if.bind="settings.submenuBoardsVisible"
                class="subMenu">
                <li repeat.for="boardType of boardTypes"
                    if.bind="showThisBoard(boardType)"
                    class.bind="getActiveBoardClass(boardType)"
                    click.delegate="getStartPosition(boardType)"
                    touchstart.delegate="getStartPosition(boardType)"
                    innerhtml.bind="getBoardDimensions(boardType)"></li>
            </ul>
        </li>

        <li click.delegate="rotateBoard()"
            touchstart.delegate="rotateBoard()">Rotate&nbsp;Blocks</li>

        <li click.delegate="flipBoardYAxis()"
            touchstart.delegate="flipBoardYAxis()">Flip Blocks</li>

        <li if.bind="screenIsLargeEnough()"
            click.delegate="mixBoard()"
            touchstart.delegate="mixBoard()">Shuffle</li>

        <li if.bind="(sls.solutions[bs.boardType].length >= 0) && workersSupported()"
            click.delegate="showSolvingPanel()"
            touchstart.delegate="showSolvingPanel()">Spoiler</li>
    </ul>

</template>