<template class="relContainer">
    <require from="components/pentominos.css"></require>
    <div repeat.for="pentomino of ps.pentominos"
         class="${'pentomino block_' + pentomino.name}"
         css.bind="getPentominoCSS(pentomino.position, pentomino.color)">
        <div class="relContainer inheritBgColor">
            <div repeat.for="part of pentomino.faces[pentomino.face]"
                 class="part"
                 class.bind="getPartClasses(pentomino, $index)"
                 css.bind="getPartCSS(part)"
                 ng-mousedown="methods.startDrag(pentomino, $index, $event)"
                 ng-touchstart="methods.startDrag(pentomino, $index, $event)">
            </div>
        </div>
    </div>
</template>