<template>
    <require from="components/solving.css"></require>
    <div show.bind="solvingPanelVisible">
        <button class="button"
                title="find all solutions"
                click.delegate="autoSolve()"
                touchstart.delegate="autoSolve()">
                <icon class="fa fa-fast-forward fa-lg"></icon>
        </button>
        <button class="button"
                show.bind="slvs.slvrWrkr"
                title="stop solutions worker"
                click.delegate="stop()"
                touchstart.delegate="stop()">
                <icon class="fa fa-stop fa-lg"></icon>
        </button>
    </div>
</template>